<div class='page-header'>
  <h2>Załóż konto</h2>
</div>
<div class='jumbotron'>
  <div class='container'>
    <div class='container col-sm-5'>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class='form-group'>
          <%= f.label :email, "Email", class: 'col-sm-10 control-label' %>
          <div class='col-sm-10'>
            <%= f.email_field :email, class: 'form-control', autofocus: true %>
          </div>
        </div>

        <div class='form-group'>
          <%= f.label :password, "Hasło", class: 'col-sm-10 control-label' %>
          <div class='col-sm-10'>
            <%= f.password_field :password, class: 'form-control', autocomplete: "off" %>
          </div>
        </div>

        <div class='form-group'>
          <%= f.label :password_confirmation, "Powtórz hasło", class: 'col-sm-10 control-label' %>
          <div class='col-sm-10'>
            <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "off" %>
          </div>
        </div>

        <div class='form-group'>
          <div class='col-sm-10'>
            <%= f.submit "Załóż konto", class: 'btn btn-primary pull-right' %>
            <%= link_to "Zaloguj się", new_user_session_path, class: 'pull-left' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>



