<h1>Do przeczytania:</h1>

<%= render partial: 'shared/book_search_form' %>

<div class='col-sm-12 result'>
<table class='table table-striped'>
  <thead>
    <tr>
      <th><%= sort_link @q, :title, "Tytuł" %></th>
      <th><%= sort_link @q, :author, "Autor" %></th>
      <th><%= sort_link @q, :genre, "Gatunek" %></th>
      <th>mobi</th>
      <th>epub</th>
      <th>pdf</th>
      <th>txt</th>
      <th>audio</th>
      <th>Usuń z listy</th>
    </tr>
  </thead>
  <tbody>
    <% @favourites.each do |book| %>
      <% if @books_id.include?(book.id) %>
        <tr>
          <td><%= link_to book.title, book %></td>
          <td><%= book.author %></td>
          <td><%= book.genre %></td>
          <% if book.mobi %>
            <td><span class='glyphicon glyphicon-check'></td>
          <% else %>
            <td><span class='glyphicon glyphicon-minus'></td>
          <% end %>
          <% if book.epub %>
            <td><span class='glyphicon glyphicon-check'></td>
          <% else %>
            <td><span class='glyphicon glyphicon-minus'></td>
          <% end %>
          <% if book.pdf %>
            <td><span class='glyphicon glyphicon-check'></td>
          <% else %>
            <td><span class='glyphicon glyphicon-minus'></td>
          <% end %>
          <% if book.txt %>
            <td><span class='glyphicon glyphicon-check'></td>
          <% else %>
            <td><span class='glyphicon glyphicon-minus'></td>
          <% end %>
          <% if book.audio %>
            <td><span class='glyphicon glyphicon-check'></td>
          <% else %>
            <td><span class='glyphicon glyphicon-minus'></td>
          <% end %>
          <td><%= button_to "Usuń", favourite_path(book.id), method: :delete, class: 'btn btn-default' %></td>
        </tr>

      <% end %>
    <% end %>
  </tbody>
</table>
</br>
<%= will_paginate %>
</div>
