<h1>Lista książek dostępnych w serwisie WolneLektury</h1>

<%= search_form_for @q do |f| %>
  <fieldset class="search_part col-sm-4">
    <legend>Szukaj książki:</legend>
      <% [:title, :author, :genre, :epoch].each do |field| %>
        <div class='form-group'>
          <%= f.label "#{field}_cont", field, class: 'col-sm-3 control-label' %>
          <div class='col-sm-9  search_row'>
            <%= f.search_field "#{field}_cont", class: 'form-control', placeholder: field %>
          </div>
        </div>
      <% end %>
  </fieldset>

  <fieldset class="search_part col-sm-4">
  <legend>Sprawdź dostępność formatu:</legend>
    <% [:audio, :mobi, :epub, :pdf, :txt].each do |format| %>
      <div class='form-group check_box'>
        <div class='col-sm-2'>
          <div class='checkbox'>
            <%= f.check_box "#{format}_true" %>
          </div>
          <%= f.label "#{format}_true", format %>
        </div>
      </div>
    <% end %>
  </fieldset>
  <div class='col-sm-5'>
  <%= f.submit "szukaj", class: 'btn btn-default search_finish col-sm-2' %>
  </div>
<% end %>

<%= render 'results' %>
