<div class='page-header'>
  <h2>Książki - Wolne Lektury:</h2>
</div>

<%= render partial: 'shared/book_search_form' %>

<div class='col-sm-12 result'>
<table class='table table-striped'>
  <thead>
    <tr>
      <th><%= sort_link @q, :title, "Tytuł" %></th>
      <th><%= sort_link @q, :author, "Autor" %></th>
      <th><%= sort_link @q, :genre, "Gatunek" %></th>
      <th>mobi</th>
      <th>epub</th>
      <th>pdf</th>
      <th>txt</th>
      <th>audio</th>
      <th>Chcę przeczytać:</th>
      <th>Przeczytane:</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= link_to book.title, book %></td>
        <td><%= book.author %></td>
        <td><%= book.genre %></td>
        <% if book.mobi %>
          <td><span class='glyphicon glyphicon-check'></td>
        <% else %>
          <td><span class='glyphicon glyphicon-minus'></td>
        <% end %>
        <% if book.epub %>
          <td><span class='glyphicon glyphicon-check'></td>
        <% else %>
          <td><span class='glyphicon glyphicon-minus'></td>
        <% end %>
        <% if book.pdf %>
          <td><span class='glyphicon glyphicon-check'></td>
        <% else %>
          <td><span class='glyphicon glyphicon-minus'></td>
        <% end %>
        <% if book.txt %>
          <td><span class='glyphicon glyphicon-check'></td>
        <% else %>
          <td><span class='glyphicon glyphicon-minus'></td>
        <% end %>
        <% if book.audio %>
          <td><span class='glyphicon glyphicon-check'></td>
        <% else %>
          <td><span class='glyphicon glyphicon-minus'></td>
        <% end %>

        <% if current_user && exists_favourite?(book, current_user) %>
          <td><%= button_to favourite_path(book.id), method: :delete, class: 'btn btn-success' do %>
            <span class='glyphicon glyphicon-ok'></td>
          <% end %>
        <% else %>
          <td><%= button_to favourites_path(id: book.id), class: 'btn btn-default' do %>
            <span class='glyphicon glyphicon-remove'></td>
          <% end %>
        <% end %>

        <% if current_user && exists_finished?(book, current_user) %>
          <td><%= button_to finished_book_path(book.id), method: :delete, class: 'btn btn-success' do %>
            <span class='glyphicon glyphicon-ok'></td>
          <% end %>
        <% else %>
          <td><%= button_to finished_books_path(id: book.id), class: 'btn btn-default' do %>
            <span class='glyphicon glyphicon-remove'></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</br>
<%= will_paginate %>
</div>
