<table>
  <thead>
    <tr>
      <th>ID zmiany</th>
      <th>Typ</th>
      <th>Zmieniono</th>
      <th>Data</th>
      <th>Kto zmieniał?</th>
      <th>Zmiana</th>
    </tr>
  </thead>
  <tbody>
    <% versions.each do |version| %>
      <tr>
        <% if version.item_type == "Book" %>
          <td><%= link_to version.id, admin_paper_trail_version_path(version) %></td>
          <td><span class="status_tag ok">Książka</span></td>
        <% elsif version.item_type == "Favourite" %>
          <td><span class="status_tag"><%= version.id %></td>
          <td><span class="status_tag">Do przeczytania</span></td>
        <% elsif version.item_type == "FinishedBook" %>
          <td><span class="status_tag"><%= version.id %></td>
          <td><span class="status_tag">Przeczytane</span></td>
        <% else %>
          <td><%= link_to version.id, admin_paper_trail_version_path(version) %></td>
          <td><span class="status_tag ok">Użytkownik</span></td>
        <% end %>
        <% if version.item_type == "Book" %>
          <td><%= link_to version.item_id, admin_book_path(Book.find(version.item_id.to_i)) %></td>
        <% elsif version.item_type == "User" %>
          <td><%= link_to version.item_id, admin_book_path(User.find(version.item_id.to_i)) %></td>
        <% else %>
          <td><span class="status_tag ok"><%= version.item_id %></span></td>
        <% end %>
        <td><%= version.created_at.strftime("%Y-%m-%d, %H:%M") %></td>
        <% if version.whodunnit.nil? %>
          <td><span class="status_tag ok">system</span></td>
        <% else %>
          <td><span class="status_tag ok"><%= User.find(version.whodunnit.to_i).email %></span></td>
        <% end %>
        <td>
          <ul>
            <% modification_description(version).each do |mod| %>
              <li><%= mod %></li>
            <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
